@import "global";

h1{
  font-family: $headingFont;
}
h2{
  font-family: $headingFont;
}
h3{
  font-family: $primaryFont;
}
h4{
  font-family: $primaryFont;
}
h5{
  font-family: $primaryFont;
}
p{
  font-family: $primaryFont;
}

button{
  &.primary{
    border: none;
    background-color: $primaryColor;
    padding: 10px;
    font-family: $primaryFont;
    color: $fontLight;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover{
      background-color: $primaryColorDark;
      transition: background-color 0.5s;
      cursor: pointer;
    }
  }

}

input{
  &.login{
    border: none;
    border-bottom: 1px solid $primaryColor;
    height: 30px;
    color: $primaryColorLight;
    transition: color 0.5s, border-bottom 0.5s, margin 0.3s;
    margin-top: 0;
    &:focus{
      margin-top: 10px;
      color: $primaryColor;
      border: none;
      border-bottom: 1px solid $primaryColorDark;
      outline: none;
      transition: color 0.5s, border-bottom 0.5s, margin 0.3s;
    }
  }
}

.border{
  &-alert{
    border: 1px solid $alertColor;
  }
  &-shadow{
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.25);
  }
  &-none{
    border: none;
  }
}

.message-box{
  border: 1px solid;
  padding: 10px;
  margin: 0;
  &--alert{
    text-align: center;
    border: 2px solid $alertColor;
    color: $alertColor;
    visibility: hidden;
    margin-top: -30px;
    margin-bottom: -30px;
    padding-bottom: 0;
    padding-top: 0;
    opacity: 0;
    transition: all 0.4s;
    &_visible{
      margin: 0px;
      opacity: 1;
      padding-bottom: 10px;
      padding-top: 10px;
      transition: all 0.4s;
      visibility: visible;
    }
  }
}
