<h1>Kategorie</h1>
<p>Możesz dodawać, usuwać, edytować kategorie.
  Kategorie ułatwiają użytkownikowi nawigowanie po twojej stronie oraz
  wspomagają pozycjonowanie Twojej witryny</p>

<div class="alert-holder" *ngIf="(categoriesState|async).categories.length === 0">
  <app-alert [message]="'Brak kategorii, utwórz jakąś ;)'" [alertType]="alertEnum.Info"></app-alert>
</div>

<button (click)="switchAddCategoryFormState()" class="primary">Dodaj kategorię</button>

<form class="category-add-form" *ngIf="addCategoryFormVisible" (ngSubmit)="onAddCategory(form)" #form="ngForm">
  <div class="category-add-form_section">
    <input ngModel name="categoryName" class="form" placeholder="Nazwa nowej kategorii" id="categoryNameInput" type="text">
  </div>
  <div class="category-add-form_section">
    <p>Priorytet wyświetania: {{sliderValue}}</p>
    <input ngModel class="form-range" id="categoryPriorityRangeInput" min="1" max="10" type="range" name="categoryRange" [(ngModel)]="sliderValue">
  </div>
  <button type="submit" class="action">Dodaj</button>
</form>

<div class="categories-list">
  <mat-expansion-panel *ngFor="let category of (categoriesState | async).categories">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="priority">{{category.priority}}</span>{{category.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form (ngSubmit)="onEditCategory(category.id, form)" #form="ngForm">
      <div class="categories-list--form">
        <p>id: {{category.id}}</p>
          <mat-form-field>
            <mat-label>Nazwa kategorii</mat-label>
            <input [(ngModel)]="category.name" matInput placeholder="Ex. Pizza" name="categoryName" value="{{category.name}}">
          </mat-form-field>
        <div class="categories-list--form_element">
          <p>Priorytet wyświetlania: </p>
          <mat-slider [(ngModel)]="category.priority" [color]="" min="1" max="10" step="1" name="categoryPriority" thumbLabel tickInterval="1" value=""></mat-slider>
        </div>
        <div class="categories-list--form_element">
          <button type="submit" class="action">Wprowadź zmiany</button>
        </div>
        <div class="categories-list--form_element">
        </div>
      </div>
    </form>
    <button (click)="onDeleteCategory(category.id, category.name, category.priority)" type="button" class="danger">Usuń kategorię</button>
  </mat-expansion-panel>
</div>


