@import "../../../../global";

.categories-list{
  margin: 100px 0;
  &--form{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    &_element{
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;

    }
  }
}



.priority{
  border-radius: 30px;
  background-color: $alertColor;
  padding: 0 5px;
  margin-right: 10px;
  color: $lightColor;
  font-family: $primaryFont;
  font-weight: 600;
}

app-categories{
  overflow-x: visible;
}

@media (min-width: 640px){

  .alert-holder{
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .category-add-form{
    p{
      margin: 0 10px;
    }
    display: flex;
    padding: 0px 0;

    &_section{
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
    animation: animate;
    animation-duration: 0.5s;
    transition: all 0.5s;
    opacity: 1;
  }

}
@media (max-width: 640px){

  .alert-holder{
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .category-add-form{
    p{
      margin: 0 10px;
    }
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 0;
    &_section{
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      height: 45px;
      margin: 10px;
      &--input{
        height: 100%;
        width: 100%;
      }
    }
    animation: animate;
    animation-duration: 1s;
    transition: all 1s;
    opacity: 1;
  }

}


@keyframes animate {
  0%{
    opacity: 0;
    padding: -100px 0;
    margin: -20px 0;
  }
  50%{
    opacity: 0;
    padding: 0px 0;
    margin: 0;
  }
  100%{
    opacity: 1
  }
}


