<div class="nav">

  <a (click)="navigateTo('/dashboard')">
    <div class="nav--item">
      <span class="material-icons-outlined">
        dashboard
      </span>
    </div>
  </a>

  <a (click)="navigateTo('/posts')">
    <div class="nav--item">
      <span class="material-icons-outlined">
        create
      </span>
    </div>
  </a>

  <a (click)="navigateTo('/users')">
    <div class="nav--item">
      <span class="material-icons-outlined">
        people
      </span>
    </div>
  </a>

  <a (click)="navigateTo('/categories')">
    <div class="nav--item">
      <span class="material-icons-outlined">
        category
      </span>
    </div>
  </a>

  <a (click)="logOut()">
    <div class="nav--item">
      <span class="material-icons-outlined">
        logout
      </span>
    </div>
  </a>

  <a (click)="navigateTo('/users')">
    <div class="nav--item nav--item_only-mobile">
      <span class="material-icons-outlined">
        expand_less
      </span>
    </div>
  </a>

</div>

