<div class="nav">

  <a (click)="navigateTo('/dashboard')">
    <div class="nav--item">
      <span class="material-icons-outlined">
        dashboard
      </span>
    </div>
  </a>

  <a (click)="navigateTo('/users')">
    <div class="nav--item">
      <span class="material-icons-outlined">
        people
      </span>
    </div>
  </a>

  <a (click)="navigateTo('/users')">
    <div class="nav--item">
      <span class="material-icons-outlined">
        design_services
      </span>
    </div>
  </a>

  <a (click)="navigateTo('/users')">
    <div class="nav--item">
      <span class="material-icons-outlined">
        book_online
      </span>
    </div>
  </a>
  <a (click)="navigateTo('/users')">
    <div class="nav--item nav--item_only-mobile">
      <span class="material-icons-outlined">
        expand_less
      </span>
    </div>
  </a>

</div>

