@import "../../../global";

section{
  font-family: $primaryFont;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form{
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 550px;
  margin-bottom: 150px;
}


.login-form{
  max-width: 550px;
  min-width: 250px;
  &--section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_element{
      margin-left: 10px;
      margin-right: 10px;
    }
    &_image{
      display: flex;
      align-self: center;
      margin: 0 auto;
    }
    &_button{
      margin-top: 25px;
    }
    &_app-name{
      margin: 0 auto;
      text-align: center;
    }
  }
}

label{
  font-weight: 300;
  font-size: 12px;
  color: grey;
}

img{
  width: 50px;
  margin: 30px;
}
