<section>
  <form class="border-shadow" (ngSubmit)="getAuthToken(form)" #form="ngForm">
    <div class="login-form">
      <div class="login-form--section">
        <div class="login-form--section_image">
          <img src="../../../assets/favicon.png" alt="">
        </div>
        <h3 class="login-form--section_app-name">Servito CMS</h3>
      </div>
      <app-loader *ngIf="(authState | async).isLoading"></app-loader>
      <app-alert [message]="'Błędne hasło lub login'" [alertType]="alertEnum.Error" *ngIf="(authState | async).message === 'LOGIN_FAILED'"></app-alert>
      <div class="login-form--section">
        <label class="login-form--section_element" for="username"> {{infoService.translations.username}} </label>
        <input class="login login-form--section_element"  ngModel name="username" id="username" type="text" placeholder="{{infoService.translations.yourUserName}}">
      </div>
      <div class="login-form--section">
        <label class="login-form--section_element" for="password">{{infoService.translations.password}}</label>
        <input class="login login-form--section_element" ngModel name="password" id="password" type="password" placeholder="{{infoService.translations.yourPassword}}">
      </div>
      <div class="login-form--section">
        <button type="submit" class="login-form--section_button primary">
          {{infoService.translations.logIn}}
        </button>
      </div>
    </div>
  </form>
</section>
